<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>UgaaMux - Talent Naturing & Exposure</title>
    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/generalCss.css">
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/clerkdashboard.css">
    <link rel="icon" href="favicon.png" sizes="52x52" type="image/png">
  </head>
  <body>
    <div class="wrapper">
      <!-- Sidebar -->
      <nav id="sidebar">
        <div class="sidebar-header">
          <h3><a href="http://localhost:3000/"><img src="/img/ugaamux-logo-01.svg" alt="UgaaMux"></a></h3>
        </div>
        <ul>
          <li><a href="#">Music</a> </li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#"> Contact Us</a></li>
        </ul>
        <hr>
        <div id="bottoms">
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <a href="#"><img src="/img/fallyIpupa.jpg" class="d-block w-100" alt="..."></a>
              </div>
              <div class="carousel-item">
                <a href="#"><img src="/img/musicEvent.jpg" class="d-block w-100" alt="..."></a>
              </div>
              <div class="carousel-item">
                <a href="#"><img src="/img/ntaateAudio.jpg" class="d-block w-100" alt="..."></a>
              </div>
            </div>
          </div>
          <div>
            <ul>
            <li><a href="#"><img src="/img/facebook.svg" alt=""></a></li>
            <li><a href="#"><img src="/img/twitter.svg" alt=""></a></li>
            <li><a href="#"><img src="/img/youtube.svg" alt=""></a></li>
          </ul>
          <hr>
          </div>
          <div id="term">
            <ul>
              <li><a href="#"> Help </a> </li>
              <li><a href="#"> Privacy </a></li>
              <li><a href="#"> Terms </a></li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Page Content -->
      <div id="content">
        <div id="header">
            <div class="row">
              <div class="col">
                  <input type="text" name="search" id="search" placeholder="Search for an Entry">
              </div>
              <div class="col">
                <input type="button" value="Signout" name="logout" id="logout">
            </div>
            </div>
            <div><h1>Dashboard</h1></div>
        </div>
        <div id="bodyContent">
          <div class="row">
            <div class="col">
                <h2>Music Artists</h2>
              <table>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Telephone</th>
                  <th>First Name</th>
                  <th>First Name</th>
                  <th>First Name</th>
                  <th>First Name</th>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Fontawesome JS -->
    <script src="https://use.fontawesome.com/bcb3e3827d.js"></script>
    <!-- Bootstrap JS -->
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
