<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UgaaMux - Login</title>
    <link rel="stylesheet" href="/css/dashboard.css" />
  </head>
  <body>
      <div class="container">
        <a href="http://localhost:3000/"><h2><img src="/img/ugaamux-logo-01.svg"></h2></a>
        <h3>Artist Registration Dashboard</h3>
        <ul>
            <li>
                <a href="http://localhost:3000/bandinfo/musicBands"><button class="btn2" >Music Band</button></a>
            </li>
            <li>
                <a href="http://localhost:3000/artistinfo/musicartist"><button class="btn2" >Music Solo Artist</button>
                </a>
            </li>
            <li>
                <a href="http://localhost:3000/labelinfo/musiclabels"><button class="btn2" >Music Label</button>
                </a>
            </li>
        </ul>        
      </div>
  </body>
</html>
