<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>UgaaMux - Talent Naturing & Exposure</title>
    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/generalCss.css">
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="icon" href="favicon.png" sizes="52x52" type="image/png">
  </head>
  <body>
    <div class="wrapper">
      <!-- Sidebar -->
      <nav id="sidebar">
        <div class="sidebar-header">
          <h3><a href="http://localhost:3000/"><img src="/img/ugaamux-logo-01.svg" alt="UgaaMux"></a></h3>
        </div>
        <ul>
          <li><a href="#">Music</a> </li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="http://localhost:3000/contactUs"> Contact Us</a></li>
        </ul>
        <hr>
        <div id="bottoms">
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <a href="#"><img src="/img/fallyIpupa.jpg" class="d-block w-100" alt="..."></a>
              </div>
              <div class="carousel-item">
                <a href="#"><img src="/img/musicEvent.jpg" class="d-block w-100" alt="..."></a>
              </div>
              <div class="carousel-item">
                <a href="#"><img src="/img/ntaateAudio.jpg" class="d-block w-100" alt="..."></a>
              </div>
            </div>
          </div>
          <div>
            <ul>
            <li><a href="#"><img src="/img/facebook.svg" alt=""></a></li>
            <li><a href="#"><img src="/img/twitter.svg" alt=""></a></li>
            <li><a href="#"><img src="/img/youtube.svg" alt=""></a></li>
          </ul>
          <hr>
          </div>
          <div id="term">
            <ul>
              <li><a href="#"> Help </a> </li>
              <li><a href="#"> Privacy </a></li>
              <li><a href="http://localhost:3000/terms"> Terms </a></li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Page Content -->
      <div id="content">
        <!-- Search-bar starts from here -->
        <div class="search-bar">
          <div id="icon">
            <div class="input-group rounded" id=search>
              <!-- <span class="input-group-text border-0" id="search-addon">
                <img src="/img/search.svg" alt="">
            </span> -->
              <input type="search" class="form-control rounded" placeholder="Search for your Favourite Music Artist, Music band and Music Label" aria-label="Search"
              aria-describedby="search-addon" />
            </div>
          </div>
        </div>
        <!-- Search-bar ends from here -->
        <div id="welcome">
          <h1 style="margin-top:10px">Welcome to UgaaMux</h1>
          <p>A place focusing onto nurturing talent ranging from Musical Artist to the arena of performing artist</p>
        </div>
        <!-- Hot Selections starts from here -->
        <div class="top-categories">
            <h3>Top Categories</h3>
            <div class="artist">
              <p>Music Artists</p>
              <ul>
                <li>
                  <img src="/img/Artists/eddy kenzo.jpg" alt="">
                  <h6>Eddy Kenzo</h6>
                  <a href="#"><button>View full Profile</button></a>
                </li>
                <li>
                  <img src="/img/Artists/goodlife.jpg" alt="">
                  <h6>Goodlyfe Crew </h6>
                  <a href="#"><button>View full Profile</button></a>
                </li>
                <li>
                  <img src="/img/Artists/Sheebah.jpg" alt="">
                  <h6>Sheebah </h6>
                  <a href="#"><button>View full Profile</button></a>
                </li>
                <li>
                  <img src="/img/Artists/Rema Namakula.jpg" alt="">
                  <h6>Rema</h6>
                  <a href="#"><button>View full Profile</button></a>
                </li>
                <li>
                  <img src="/img/Artists/chamillie.jpg" alt="">
                  <h6>Chameleon</h6>
                  <a href="#"><button>View full Profile</button></a>
                </li>
                <li>
                  <img src="/img/Artists/david-lutalo_1504863508.jpg" alt="">
                  <h6>David Lutalo</h6>
                  <a href="#"><button>View full Profile</button></a>
                </li>
              </ul>
              <ul>
                <li>
                  <img src="/img/Artists/bebe cool.jpg" alt="">
                  <h6>Bebe Cool</h6>
                  <a href="#"><button>View full Profile</button></a>
                </li>
                <li>
                  <img src="/img/Artists/Juliana-Kanyomozi.jpg" alt="">
                  <h6>Juliana Kanyomozi </h6>
                  <a href="#"><button>View full Profile</button></a>
                </li>
                <li>
                  <img src="/img/Artists/SpiceDiana.jpg" alt="">
                  <h6>Spice Diana </h6>
                  <a href="#"><button>View full Profile</button></a>
                </li>
                <li>
                  <img src="/img/Artists/Fik-fameica.jpg" alt="">
                  <h6>Fik Fameica</h6>
                  <a href="#"><button>View full Profile</button></a>
                </li>
                <li>
                  <img src="/img/Artists/bobi-wine.jpg" alt="">
                  <h6>Bobi Wine</h6>
                  <a href="#"><button>View full Profile</button></a>
                </li>
                <li>
                  <img src="/img/Artists/john-blaq.jpg" alt="">
                  <h6>John Blaq</h6>
                  <a href="#"><button>View full Profile</button></a>
                </li>
              </ul>
            </div>

            <div class="Music_bands">
              <p>Music Bands</p>
              <ul>
                <li>
                  <div>
                    <img src="/img/Artists/Band/Sauti Ya Africa.jpg" alt="">
                    <h6>
                      Sauti Ya Africa <br>
                      Pop Band/Group
                    </h6>
                    <p>
                      Available in Uganda <br>
                      Based in Kampala
                    </p>
                    <a href="http://localhost:3000/soutiyaAfrica"><button>View full Profile</button></a>
                  </div>
                </li>

                <li>
                  <div>
                    <img src="/img/Artists/Band/qwela.jpg" alt="">
                    <h6>
                      Qwela Band <br>
                      Afro-fusion Band
                    </h6>
                    <p>
                      Available in Uganda <br>
                      Based in Kampala
                    </p>
                    <a href="#"><button>View full Profile</button></a>
                  </div>
                </li>

                <li>
                  <div>
                    <img src="/img/Artists/Band/Wassa Saxoprano Inwas.jpg" alt="">
                    <h6>
                      Wassa Saxoprano Inwas <br>
                      Cover Band
                    </h6>
                    <p>
                      Available in Uganda <br>
                      Based in Kampala
                    </p>
                    <a href="#"><button>View full Profile</button></a>
                  </div>
                </li>
              </ul>
              <ul>
                <li>
                  <div>
                    <img src="/img/Artists/Band/The tabs ug.jpg" alt="">
                    <h6>
                      The Tabs Ug <br>
                      Pop Band/Group
                    </h6>
                    <p>
                      Available in Uganda <br>
                      Based in Kampala
                    </p>
                    <a href="#"><button>View full Profile</button></a>
                  </div>
                </li>

                <li>
                  <div>
                    <img src="/img/Artists/Band/Nilerz Band.jpg" alt="">
                    <h6>
                      Nilerz Band <br>
                      Cover Band
                    </h6>
                    <p>
                      Available in Uganda <br>
                      Based in Kampala
                    </p>
                    <a href="#"><button>View full Profile</button></a>
                  </div>
                </li>

                <li>
                  <div>
                    <img src="/img/Artists/Band/Acoustic Live Performance.jpg" alt="">
                    <h6>
                      Acoustic Live Performance <br>
                      Cover Band
                    </h6>
                    <p>
                      Available in Uganda <br>
                      Based in Kampala
                    </p>
                    <a href="#"><button>View full Profile</button></a>
                  </div>
                </li>
              </ul>
            </div>
        </div>
    </div>
    <!-- Fontawesome JS -->
    <script src="https://use.fontawesome.com/bcb3e3827d.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- Fontawesome JS -->
    <script src="https://use.fontawesome.com/bcb3e3827d.js"></script>
  </body>
</html>
