<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>UgaaMux - Login</title>
  <link rel="stylesheet" href="/css/login.css" />
</head>

<body>
  <div class="container">
    <h2><img src="/img/ugaamux-logo-01.svg"></h2>
    <h3>Sign In</h3>
    <p>to continue to UgaaMux Dashboard</p>
    <form action="/logininfo/login" method="POST" name="login">
      <ul>
        <li><input type="email" placeholder="Enter you email Address" name="emailAddress" /></li>
        <li><input type="password" placeholder="Enter your password" name="password" /></li>
      </ul>
      <a href="http://localhost:3000/terms"><button class="btn1">Create account</button></a>
      <input type="submit" value="SignIn" class="btn2" />
    </form>
  </div>
  <footer>
    <ul>
      <li><a href="#"> Help </a> </li>
      <li><a href="#"> Privacy </a></li>
      <li><a href="#"> Terms </a></li>
    </ul>
  </footer>
</body>

</html>