<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>UgaaMux - Talent Naturing & Exposure</title>
    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/generalCss.css">
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="icon" href="favicon.png" sizes="52x52" type="image/png">
  </head>
  <body>
    <div class="wrapper">
      <!-- Sidebar -->
      <nav id="sidebar">
        <div class="sidebar-header">
          <h3><a href="http://localhost:3000/"><img src="/img/ugaamux-logo-01.svg" alt="UgaaMux"></a></h3>
        </div>
        <ul>
          <li><a href="#">Music</a> </li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#"> Contact Us</a></li>
        </ul>
        <hr>
        <div id="bottoms">
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <a href="#"><img src="/img/fallyIpupa.jpg" class="d-block w-100" alt="..."></a>
              </div>
              <div class="carousel-item">
                <a href="#"><img src="/img/musicEvent.jpg" class="d-block w-100" alt="..."></a>
              </div>
              <div class="carousel-item">
                <a href="#"><img src="/img/ntaateAudio.jpg" class="d-block w-100" alt="..."></a>
              </div>
            </div>
          </div>
          <div>
            <ul>
            <li><a href="#"><img src="/img/facebook.svg" alt=""></a></li>
            <li><a href="#"><img src="/img/twitter.svg" alt=""></a></li>
            <li><a href="#"><img src="/img/youtube.svg" alt=""></a></li>
          </ul>
          <hr>
          </div>
          <div id="term">
            <ul>
              <li><a href="#"> Help </a> </li>
              <li><a href="#"> Privacy </a></li>
              <li><a href="#"> Terms </a></li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Page Content -->
    <div id="content">
        <div class="row">
            <div class="col">
                <div id="band">
                    <img src="/img/Artists/Band/Sauti Ya Africa2.jpg" alt="">
                    <h1>Sauti Ya Africa Pop Band / Group Kampala, Uganda
                    </h1>
                    <hr>
                    <h2>Country: <span>Uganda</span><br>
                        Based In: <span>Kampala, Uganda</span><br>
                        Performs: <span>Worldwide</span><br>
                        From: <span>Contact</span>
                    </h2>
                    <hr>
                    <p>Sauti Ya Africa is an all-male Pop Operatic quartet. These fine gentlemen with explosive voices, create an array of rich harmonies. A background of high profile performances like the Queen of England, Prince Charles, The Pope, Katherine Jenkins, over 50 presidents, etc</p>
                </div>
            </div>
            <div class="col">
                <div id="details">
                    <div class="embed-responsive embed-responsive-16by9" id="video">
                        <iframe src="https://www.youtube.com/embed/pqm3wkUUuWc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <a href="#"><button>Request a Quote</button></a>
                    <h2>
                        Suitable for
                    </h2>
                    <p>
                        Bar/Bat Mitzvah | Birthday Party (Adult) | Casinos | Christening | Christmas Party | Cocktail Party | Drinks Reception | Corporate Event | Dinner Party | Jewish Wedding Private Party | Product Launch | Promotion Trade Show / Exhibitions
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Fontawesome JS -->
    <script src="https://use.fontawesome.com/bcb3e3827d.js"></script>
    <!-- Bootstrap JS -->
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
